---

- name: set distro-specific variables
  include_vars: 'vars_{{ ansible_distribution }}_{{ ansible_distribution_release }}.yml'


# postgresql-contrib contains the server instrumentation module
# postgresql devel package to build psycopg driver and others
- name: install postgresql database and PostGIS extension
  apt: name={{ item }} state=latest
  with_items:
    - postgresql
    - postgresql-contrib
    - postgresql-server-dev-{{ postgresql_version }}
    - postgis
    - postgresql-{{ postgresql_version }}-postgis-{{ postgis_version }}
    - python-psycopg2
    - python3-psycopg2


- name: install autopostgresqlbackup
  apt: name=autopostgresqlbackup state=latest
  when:
    autopostgresqlbackup

- name: ensure postgresql server is running
  action: service name=postgresql state=started

- include: postgis_template.yml

- name: Create admin superuser
  postgresql_user: db=postgres
      name={{ admin_username }}
      password={{ admin_password|hash('md5') }}
      role_attr_flags=SUPERUSER
      encrypted=yes
  become: yes
  become_user: postgres
  notify:
  - restart postgresql

#      regexp="^listen_addresses\s*=\s*'\s+'\s*"
- name: configure listen_addresses
  lineinfile:
      dest=/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf
      regexp="^listen_addresses\s*"
      insertbefore="^port\s*=.+"
      line="listen_addresses = '{{ postgresql_listen }}'"
  notify:
  - restart postgresql

- name: enable local user/pass access
  lineinfile:
      dest=/etc/postgresql/{{ postgresql_version }}/main//pg_hba.conf
      regexp="^local\s+all\s+all\s+peer$"
      insertafter="^#\s\"local\".+"
      line="local   all             all                                     md5"
      backrefs=yes
  notify:
  - restart postgresql

- name: enable host user/pass access
  lineinfile:
      dest=/etc/postgresql/{{ postgresql_version }}/main//pg_hba.conf
      insertafter="^#\sIPv4\slocal.+"
      line="host    all             all             0.0.0.0/0               md5"
  notify:
  - restart postgresql

- include: phppgadmin.yml
  when: install_phppgadmin

- template:
        backup=yes
        src=etc/monit/conf.d/postgresql.j2
        dest=/etc/monit/conf.d/postgresql
        owner=root
        group=root
        mode=0644
  notify:
  - restart monit
