---

- name: install phppgadmin
  apt:
    name:
    - phppgadmin
    state: latest
  tags: packages

- name: make phppgadmin available through nginx
  file: src=/usr/share/phppgadmin
      dest={{ nginx_default_root }}/phppgadmin
      state=link

- name: securize phppgadmin
  template:
        backup=yes
        src=etc/nginx/sites-available/default.conf/phppgadmin.conf.j2
        dest=/etc/nginx/sites-available/default.conf/phppgadmin.conf
        owner=root
        group=root
        mode=0644
  notify:
    - reload nginx
  when: securize_phppgadmin|bool
