
    location ~ /phppgadmin/.* {
       # administrators
{% if giscube_administrators_cidr %}
       # giscube_administrators_cidr
       allow   {{ giscube_administrators_cidr }};
{% else %}
       # giscube_administrators_cidr not set
{% endif %}

{% for allow in phppgadmin_allow %}
       allow {{ allow.ip }};  # {{ allow.name }}
{% endfor %}
       # drop rest of the world
       deny    all;

       location ~ \.php$ {
               include snippets/fastcgi-php.conf;
               {% if ansible_distribution=='Ubuntu' and ansible_distribution_release == 'bionic' %}
               # With php7.2-cgi alone:
               fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
               {% else %}
               # With php7.0-cgi alone:
               fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
               {% endif %}

       }
    }
