
    location ~ /phppgadmin/.* {
       # administrators
{% if giscube_administrators_cidr %}
       # giscube_administrators_cidr
       allow   {{ giscube_administrators_cidr }};
{% else %}
       # giscube_administrators_cidr not set
{% endif %}
       # drop rest of the world
       deny    all;

       location ~ \.php$ {
               include snippets/fastcgi-php.conf;
               # With php7.0-cgi alone:
               fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
       }
    }
